[2016-12-23 01:29] cathalgarvey opened #3 "License?"
As in title. :)

[2017-04-18 22:23] pshevtsov opened #4 "Doesn't work with recent apps.json"
[code]

[2017-04-19 08:29] rverton commented on #4
Thanks for the notice, I will have a look at this later today ;)

[2017-04-19 09:49] pshevtsov commented on #4
Thanks!

Looks like this commit introduced breaking changes https://github.com/AliasIO/Wappalyzer/commit/1cd2fd70b04e2146bc48ab3869f19b57466c69fa#diff-557d7d60c04092a680ce152f367618c0

[2017-04-19 10:50] przmv opened #5 "Doesn't detect all the available applications"
Looks like `webanalyze` (with [this `apps.json`](https://github.com/rverton/webanalyze/blob/master/cmd/webanalyze/apps.json)) doesn't detect as many applications as `AliasIO/wappalyzer`:
[code]

[code]

[2017-04-19 13:59] #4 closed

[2017-04-19 14:35] rverton commented on #3
Added a LICENSE.txt

[2017-04-19 14:35] #3 closed

[2017-04-19 14:47] rverton commented on #5
Wappalyzer makes us of a javascript environment to execute some javascript checks on the loaded page. We can't do this here without adding a bridge to phantomjs or a headless browser. Maybe we can add an optional feature to include headless chrome/firefox in the future. I'll think over it.

[2017-04-19 14:58] rverton opened #6 "Add version detection from Wappalyzers regular expressions"
Wappalyzer makes use of appended strings for version detection like here:

            "IIS": {
			"cats": [
				"22"
			],
			"headers": {
				"Server": "IIS(?:/([\\d.]+))?\\;version:\\1"
			},
			"icon": "IIS.png",
			"implies": "Windows Server",
			"website": "http://www.iis.net"
		},

If split this "additiona field" starting from a `;`, we can also parse this information.

[2017-04-24 10:23] hbakhtiyor commented on #5
maybe to use more lightweight version, like https://github.com/scrapinghub/splash which  https://github.com/spectresearch/detectem uses

[2017-04-24 14:42] pshevtsov commented on #5
@rverton I'd like to help you with this issue. I'm interested in PhantomJS integration, since it's easier to install on servers. Let's discuss how it could be implemented, so I could start working on it and hopefully send a pull request in the nearest future.

[2017-04-24 15:20] hbakhtiyor commented on #5
@pshevtsov Phantomjs is heavy and stopped maintaining

[2017-04-24 15:50] pshevtsov commented on #5
@hbakhtiyor what do you suggest instead? I need something that is easy to install for the end users and is cross-platform — just like static PhantomJS binaries.

[2017-04-24 16:24] hbakhtiyor commented on #5
https://github.com/scrapinghub/splash, using docker for easy installation, or headless chrome/firefox

[2017-04-24 17:50] rverton commented on #5
The problem is see here is that including an external tool will have a big impact on performance. So if we implement this, we need to make this optional.

I already included phantomjs in a go project some time ago (https://github.com/rverton/xssmap), but  @hbakhtiyor may be right: It looks like PhantomJS is stopped in the (near) future in favor of Chrome/FF headless browser support.

Maybe it's wo

[2017-04-24 17:59] pshevtsov commented on #5
@rverton @hbakhtiyor Using headless Chrome or Firefox seems like a decent solution for desktop users (since it's already there), but the Go application I'm currently working on is mostly targeted at servers, and having huge GUI application like Chrome or Firefox as a CLI tool dependency looks like an overkill.

[2017-04-24 18:36] rverton commented on #5
The question we have to ask is, if its worth implementing this and invoking a different renderer, because then we could also just build a wrapper around the already existing wappalyzer phantomjs driver: https://github.com/AliasIO/Wappalyzer/tree/master/src/drivers/phantomjs

It may be worth to make a little test implementation and see if we may be able to perform still better, but I have to say I'

[2017-04-25 04:08] hbakhtiyor commented on #5
@rverton would be nice to make it optional, using [CDP Client](https://github.com/raff/godet)
@pshevtsov don't need any GUI, for running *headless* mode, [Chrome](https://chromium.googlesource.com/chromium/src/+/lkgr/headless/README.md), [FF](https://bugzilla.mozilla.org/show_bug.cgi?id=1338004)

[2017-04-26 10:05] rverton commented on #6
Basic version detection added in 6b035b248504f2dd1d5e74878400f2de2ef31062. Not all version methods are added (like the ternary operator), but this should work for most versions. Wappalyzer implementation can be found here: https://github.com/AliasIO/Wappalyzer/blob/master/src/wappalyzer.js#L68

[2017-04-26 10:05] #6 closed

[2017-04-28 13:57] rverton commented on #5
@hbakhtiyor but you need to install a full chrome/ff, which may require a lot of other stuff to be installed.

I dont have the time currently to test one of this approaches, if someone wants, feel free to send me PRs.

[2017-08-10 15:34] franciscofreire opened #7 "unable to unmarshal: wappalyzer schema definition file changed"
I installed your tool like described in the README (in Arch Linux) and it keeps giving this error below:
[code]
Is this normal? After the previous error the execution seems to proceed but hang.
[code]

[2017-08-11 08:10] rverton commented on #7
Thanks for the notice. It looks like the schema of the apps.json file from webanalyze changed again. I will check this.

[2017-08-11 08:27] rverton commented on #7
So the problem is that wappalyzer is not very .. strict on their apps.json schema. Have a look at how the usually define their categories, for example:

[code]
And now look at [this](https://github.com/AliasIO/Wappalyzer/blob/ff6ac4726b56cc2686f326fe0967d0405ba8dca3/src/apps.json#L8524):
[code]

This fails to unmarshal, because I am expecting a string, and not a number. To fix this you can do this

[2017-08-11 08:27] #7 closed

[2017-08-11 10:12] franciscofreire commented on #7
Many thanks you for your quick answer. I made that change in my local apps.json and it works now.

[2018-01-08 11:47] buggles333 opened #8 "Not correctly detecting WordPress Installs"
Hi,

If I run the following URL 3VALLEYSMANUFACTURING.CO.UK through webanalyze then it does not report WordPress as being used.

But if I run the same URL through the Wappalyzer website then it does report WordPress.

Any idea why the two are not matching?

[2018-01-08 11:56] rverton commented on #8
Hi @buggles333,
so Wordpress is defined in the apps.json as:

[code]
As I can see in the URL you posted, there are some script tags which include from `/wp-includes/`, so this should be found (but I can reproduce here, it is not found). I will debug this and give you a notice when I found out whats wrong here.

[2018-01-08 15:11] buggles333 commented on #8
Thank you, glad you are able to reproduce!

[2018-01-09 08:58] #8 closed

[2018-01-09 08:59] rverton commented on #8
I just pushed a change which fixes this. Its a faulty configured webserver because it does not send anything if there is no `Accept` header defined. I dont know how common it is to do this, so I added this header to all request (which should not be a problem for other requests).

[2018-01-09 10:08] buggles333 commented on #8
Thank you for fixing it so quickly, all is working great this end now

[2018-02-03 09:59] pifagor87 opened #9 "Issue "cannot unmarshal number into Go struct field App.cats of type string""
error initializing: json: cannot unmarshal number into Go struct field App.cats of type string

[2018-02-07 11:17] rverton commented on #9
It looks like Wappalyzer now changed all of their App.cats from strings to numbers. I will wok on a fix for this, thanks for reporting.

[2018-02-07 11:19] #9 closed

[2018-03-07 09:18] pshevtsov opened #10 "cannot unmarshal object into Go value of type map[int]webanalyze.C ategory"
Fresh Ubuntu 16.04 installation:
[code]

[2018-03-07 09:51] rverton commented on #10
Hi @pshevtsov,
thanks for this report. I think this is again with the always changing scheme of the apps.json format from wappalyzer. I will have a look as soon as possible.

robin

[2018-03-11 14:29] #10 closed

[2018-12-24 12:45] anotherdevs opened #14 "Schema updated"
Hi @rverton

Wappalyzer have updated it's schema.

Additional regexes (same structure as meta):
- cookies
- js

Additional app infos:
- icon

Furthermore @AliasIO have added two new concepts: excludes and implies.

If the program detects Wordpress it implies that PHP is also used. Same princip if the program detects SPDY means HTTP/2.0 cannot be detected.

There exists a problem with implies and e

[2018-12-24 12:57] anotherdevs opened #15 "Crawl functionality"
Hi @rverton

Is it possible to add a crawl functionality that crawls fx. the first 20 (configurable) found sub pages?

Wappalyzer has these variables available:
maxDepth
maxUrls
maxWait
recursive

[2018-12-29 22:32] rverton commented on #14
Hi @anotherdevs, thanks for the info. I will try to add this in the upcoming time.

[2018-12-29 22:34] rverton commented on #15
I think this can be added easy. Will think over this and let you know.

[2019-02-05 17:41] Den1al opened #16 "error: can not open host file : open : no such file or directory"
Apparently the command line binary tries to read the hosts file when using the "update" flag. When using this flag, the check should stop right after the update:

[code]

[2019-02-06 19:23] rverton commented on #16
Hi @Den1al,
I implemented this so you can always append `-update` and have a fresh version of `apps.json`. It should not force the program to exit here, so thats the purpose. Does this make a problem for your usecase? If yes let me know and we can add a return here.

Greetings,
robin

[2019-02-06 19:23] #16 closed

[2019-02-24 11:53] Den1al commented on #16
I think it would be more elegant, that if you wish *only* to update, to suppress other messages regarding other operations.

[2019-02-25 15:11] rverton commented on #16
The latest commit should fix this.

[2019-04-12 20:21] rverton commented on #15
This was a bit more work than I thought. I added a waitgroup for the job channel so I can feed the new URLs to the worker queue. Additionally, comparing URLs can be a bit tricky.
There is no depth setting currently and it is only crawling from the initial page load for now. Let me know if this works for you.

[2019-04-12 20:21] #15 closed

[2019-04-14 05:09] j3ssie commented on #5
@rverton did you check out this awesome lib https://github.com/chromedp/chromedp

[2019-04-16 15:26] Shiva108 opened #17 "Several errors - running parrot linux"
./webanalyze.go -h
./webanalyze.go: line 1: package: command not found
./webanalyze.go: line 3: syntax error near unexpected token `newline'
./webanalyze.go: line 3: `import ('

[2019-04-18 06:41] rverton commented on #17
Hi @Shiva108,
you need to have [go installed](https://golang.org/doc/install) to use webanalyze. After this, you can follow the Usage instructions in the README.

Greetings

[2019-04-18 06:41] #17 closed

[2019-07-02 15:00] H3JFC opened #18 "Crawling subdomains"
https://github.com/rverton/webanalyze/blob/601271371582c173207cceff042a6699b87c715c/webanalyze.go#L204

It looks like the parseLinks function returns nil if the parsed url is different from the base url (which is great for cases like the following hostname.com & nothostname.com). This works for most cases, but it would be nice to add an option for searching subdomains like app.hostname.com with a

[2019-07-02 15:22] rverton commented on #18
Hi @H3JFC,
sure, this could indeed be useful. Any ideas and PR’s are of course appreciated :)

Greetings

[2019-07-02 15:35] H3JFC commented on #18
Great @rverton! Do we want to search subdomains by default or should we add a searchSub boolean that we pass around in the Job struct? (and inherently pass into NewOfflineJob, NewOnlineJob, & Init funcs)

[2019-07-02 15:40] rverton commented on #18
I think we can do both here: Adding a searchSub boolean and defaulting to true here. I think this is a sane default value because its often interesting what other technologies a specific domain makes use of.

[2019-07-02 16:43] H3JFC commented on #18
PR https://github.com/rverton/webanalyze/pull/19

[2019-07-05 20:43] rverton commented on #18
Merged #19

[2019-07-05 20:43] #18 closed

[2019-09-26 15:19] rverton opened #20 "Add proxy support"
Add cli flag and functionality to use a proxy server.

[2019-12-02 14:02] rverton commented on #20
Fixed in v0.2.

[2019-12-02 14:02] #20 closed

[2020-01-09 19:10] codypierce opened #21 "Process hangs when crawl specified and an error occurs"
The process hangs if you specify -crawl > 0 and an error occurs.
[code]

[2020-01-10 07:10] rverton commented on #21
Thanks for the info, I will have a look at this.

[2020-01-10 10:28] vishu10x00 opened #22 "Unable to save output results."
webanalyze -hosts domains > stack

Do you have a way to save results??

[2020-01-10 10:31] rverton commented on #22
Hi @vishu10x00,
as described in the README, you can use the `-output` flag to specify the output format. By using a bash redirection you can then save this to a file.

[code]

Does this answer your question?

[2020-01-10 10:52] vishu10x00 commented on #22
Thanks :)

[2020-01-10 10:52] #22 closed

[2020-01-13 20:39] #21 closed

[2020-01-16 20:46] gbiagomba opened #23 "Output flag breaks connection"
Hello,

Just wanted to let you know when I run the tool with -output the tool is not able to connect to anything. But once I remove it the tools works fine again

[2020-01-19 13:15] rverton commented on #23
Hi @gbiagomba,
I cant reproduce this issue. Are you using the latest version?

[code]

[2020-02-04 02:24] lochv opened #24 "Memory leak"
Hi friend,
I were use webanalyze in my web crawler, it seem memory leak in process func but i canot resolve it, can u help me

![image](https://user-images.githubusercontent.com/17930973/73708069-e50b9d00-472f-11ea-89b2-2b6b56d9a2f1.png)

memory graph captured with pprof

[2020-02-05 21:19] vishu10x00 opened #25 "panic: Negative WaitGroup counter"
deepakgadupudi@cloudshell:~/Vishnu/Stack$ cat hosts | wc
  55195   55195 1585167
deepakgadupudi@cloudshell:~/Vishnu/Stack$ webanalyze -hosts hosts -output csv > results.csv
2020/02/06 02:38:41 Scanning with 4 workers.
2020/02/06 02:38:46 [-] Error for http://0addomain.com: Failed to retrieve
panic: sync: negative WaitGroup counter

goroutine 24 [running]:
sync.(*WaitGroup).Add(0xc0000962f0, 0xffff

[2020-02-05 21:20] vishu10x00 commented on #25
Hi @rverton what is the issue here??

[2020-02-06 11:44] rverton commented on #25
Hi, I will try to reproduce this and then come back to you.

[2020-02-06 11:46] rverton commented on #24
Hi @lochv,
can you show me some code how you have intregrated webanalyze in your project? It would also be nice to see a bit more of the pprof.

Thanks

[2020-02-06 11:46] rverton commented on #23
Closing because of inactivity.

[2020-02-06 11:46] #23 closed

[2020-02-07 02:19] vishu10x00 commented on #25
@rverton Thanks (:

[2020-02-07 08:48] rverton commented on #25
I'm able to reproduce this, will let you know when I've fixed this.

[code]

[2020-02-10 04:06] vishu10x00 commented on #25
Knock Knock.

[2020-02-10 10:24] rverton commented on #25
I plan to make a bigger refactor here and pulling all goroutine stuff out of the lib so the callee has to do it. This will take some time.

As a quick fix, you should be fine putting a valid URL at the beginning of your file.

[2020-02-16 08:26] theblackturtle commented on #25
I have this too.
[code]

[2020-02-19 14:25] rverton commented on #25
I just pushed a new version af2f9de where I refactored the concurrency mechanism. This will change some things for all people which use webanalyze as a library (because they have to do the concurrency on their own now). For all others, there should be no change except the better formatting when printing to stdout.

Please let me know if there are any problems with this version. I think I will tag

[2020-02-20 18:22] vishu10x00 commented on #25
Wow 🔥️, Thanks @rverton

[2020-02-20 18:22] #25 closed

[2020-02-20 18:38] fuzzerk opened #26 "Redirects are followed to other domains with no notification or options"
First,   A W E S O M E   T O O L !

Thank you a billion.

Problem:
When analyzing a subdomain that immediately redirects to a completely different subdomain, the tool analyzes the destination domain. There is no notification of this in the output, and there is no option to prohibit this behavior. When performing recon inside a scope, this behavior is problematic.

Solution:
Flag to ignore redirect

[2020-02-21 08:29] lochv commented on #24
hi @rverton,
thx, i just resolved that problem, restrict to create new val

[2020-02-21 08:29] #24 closed

[2020-02-24 18:49] gbiagomba commented on #23
@rverton my apologies, at the tme i was using the version released than but i will check again

[2020-03-02 06:04] rverton commented on #26
Hi,
thanks for the issue and sorry for the late response, I just came back from vacation. This should be fixed quickly, will do this in the upcoming days.

[2020-03-03 06:45] rverton commented on #26
This is fixed in e17a78973557d17c890ca6b1927e6fe3a0d63fae now. I did not add a flag to ignore this for now because following redirects in this scenario is nearly never what you want.

If there is any demand for this, I'm open for PR.

[2020-03-03 06:45] #26 closed

[2020-04-24 12:16] pshevtsov opened #28 "Mysterious NivCMS on different sites results"
Analyze results for different sites contain NivCMS, however this is not true (according to Wappalyzer):

[code]

![image](https://user-images.githubusercontent.com/290451/80211478-807d2180-863e-11ea-988d-21336d18a498.png)

[2020-04-24 12:41] pshevtsov commented on #28
Looks like an upstream bug: https://github.com/AliasIO/wappalyzer/pull/3008

[2020-04-25 18:58] rverton commented on #28
Hi,
thanks for the info. I will close this now as this will be fixed upstream then.

[2020-04-25 18:58] #28 closed

[2020-04-30 13:17] lochv opened #29 "Support PCRE"
Hi,

Some rule canot compile with regexp.Compile() (PCRE error)

[code]

[2020-04-30 19:15] rverton commented on #29
Hi,
there standard lib does not support it, so I cant offer a simple solution here.

If you have any suggestions, feel free to reopen this issue.

Greetings,
Robin

[2020-04-30 19:15] #29 closed

[2020-05-19 20:23] gbiagomba commented on #23
seems to work now, thank you

[2020-05-27 12:37] i-sylar opened #30 "does not detect most client side app versions"
Im having an issue with version detection for most client side apps like jQuery. This also applies to PHP. Wappalyzer is able to detect most versions, but i only get the application name with webanalyze.
![webanalyze](https://user-images.githubusercontent.com/16762227/83019637-f30f6180-a02f-11ea-98f1-158d1a114d21.png) - webanalyze
![wapalyzer](https://user-images.githubusercontent.com/16762227/830

[2020-06-04 09:16] i-sylar commented on #30
This is okay.

[2020-06-04 09:16] #30 closed

[2020-07-09 21:57] earwickerh opened #32 "Confidence Tag"
First of all thank you! SO FAST! :)

Any plans to add the "confidence" tag from the wappalyzer app?"Implies" works, adding "confidence" would be really useful! From wappalyzer docs: "confidence Indicates a less reliable pattern that may cause false positives. The aim is to achieve a combined confidence of 100%.  Defaults to 100% if not specified."

Thanks again!

[2020-07-12 08:52] rverton commented on #32
Thanks for your suggestion. I’m currently on vacation and will have a look afterwards.

[2020-07-15 00:04] earwickerh commented on #32
Thanks for looking into it.I hope it's relatively easy to implement. Enjoy your vacation!

[2020-07-24 18:21] earwickerh opened #33 "More workes = More "Failed to Retrieve""
When I use more workers, I get "Failed to Retrieve" on a lot of URLs that worked at a lower amount of workers.  The more workers I added, the more "Failed to Retrieve". Any ideas as to why this may be happening?

[2020-07-26 08:23] rverton commented on #33
Hi @earwickerh,
there is a hardcoded timeout for retrieving content currently at 8 seconds (https://github.com/rverton/webanalyze/blob/master/webanalyze.go#L21). Why 8? To be honest, I dont know. It worked very well for me until now.

My guess is that when you increase the amount of workers, you are reaching the limit of your bandwidth and this results in some hosts taking more time to respond.

A

[2020-07-30 03:05] earwickerh commented on #33
Great insight, this seemed to do the trick. However, I am running more tests to ensure I'm not inserting new variables in the experiments.  I'll update more conclusively.

[2020-08-07 07:06] earwickerh commented on #33
I don't think that's it after all. After further testing, I believe it is related to CSV output (probably indirectly). A resource limit of some sort is being hit, once reached, I get  "Failed to Retrieve" exclusively for all remaining URLs, even though those same URLs resolve properly when running with fewer workers/smaller set of URLs/individual host.

The issue occurs particularly when using the

[2020-08-07 07:09] rverton commented on #33
Hi,
yeah I'm not quite sure how I can debug this. I'll ask around and let you know when I found a good way to benchmark/debug this.

Regarding your other suggestions: I'm happy for every contribution :)

Greetings

[2020-08-07 07:12] rverton commented on #33
@earwickerh can you patch the code at this line:
https://github.com/rverton/webanalyze/blob/fb291b506a7e6b488a5c2bf725776603c89e4b92/webanalyze.go#L208
and print out the real error (`fmt.Printf("error retrieving: %v\n", err)`) and run it again?

[2020-08-07 09:27] earwickerh commented on #32
Wondering if you ever got a chance to take a look at this? Guessing it's tedious to implement? Thanks

[2020-08-07 09:27] rverton commented on #32
Not yet, but it's not forgotten. Just did not find any time (yet) ;)

[2020-08-07 09:28] earwickerh commented on #33
Great, thank you! I'll do this and report back shortly. Thanks again

[2020-08-07 10:31] earwickerh commented on #32
Thanks for keeping me in mind! This adds a whole new layer of possibilities. My current workarounds are unimaginably clunky and time consuming but the value gained makes it worth the effort. The "confidence" feature would be a heck of a lot better. I strongly doubt my ability to successfully implement this myself ( yet ;) ) but if there's anything I can do to help let me know.

[2020-08-09 05:07] earwickerh commented on #33
I gave this a short but I get the following compile error "webanalyze/webanalyze.go:208:33: multiple-value fmt.Printf() in single-value context" after changing `fmt.Errorf("Failed to retrieve")` to `fmt.Printf("error retrieving: %v\n", err)`

[2020-08-09 06:52] rverton commented on #33
I just commited the improved error reporting, you can pull the changes and then test again.

https://github.com/rverton/webanalyze/commit/5c9aebf5463ca2eac8abf0164190e5b505977de2

[2020-08-09 07:22] earwickerh commented on #33
whoa, that was quick, thanks! It's running. I'll let you know what I find. Thanks again

[2020-08-09 10:14] earwickerh commented on #33
After implementing I only see one new error being display (and only one instance of this new error) but it doesn't seem related as it showed up a good few minutes before my issue began to reoccur. 'Unsolicited response received on idle HTTP channel starting with "HTTP/1.1 100 Continue\r\n\r\n"; err=<nil>

Here's the command I'm using: webanalyze -hosts crm-url-cleaner.txt -worker 200 -crawl 12 -ou

[2020-08-09 10:21] rverton commented on #33
The error handler for retrieving is not dependent on the output method, as you can see it's done before the output is handled.

Maybe writing csv is failing because it's done from multiple goroutines. It's odd because we just write to os.Stdout. We can catch the error from csv.Write and see if there is anything wrong [here](https://github.com/rverton/webanalyze/blob/5c9aebf5463ca2eac8abf0164190e5b

[2020-09-04 12:22] pshevtsov opened #35 "`fetchHost` doesn't follow redirects"
I'm wondering about the decision of not following redirects with `http.Client` within `fetchHost` function: https://github.com/rverton/webanalyze/blob/master/webanalyze.go#L105

Following HTTP redirects is crucial for our use case.

What do you think about adding the ability to provide some custom `http.Client` to `NewWebAnalyzer`?

I'm going to submit a pull request to better describe the idea.

[2020-09-04 12:24] rverton commented on #35
Hi @pshevtsov,
following redirects often led to leaving the target scope/environment.

I'm open to make this more configurable if you need it.

Greetings

[2020-09-04 12:24] pshevtsov opened #36 "apps.json is now technologies.json upstream"
[code]

[2020-09-04 13:15] pshevtsov commented on #35
@rverton PTAL #37

[2020-09-08 13:11] #36 closed

[2020-09-08 13:12] rverton opened #38 "Detection quality low"
A lot of technologies which were detected in the past are not detected anymore. I guess some format changed in the upstream technologies.json, which needs to be verified.

[2020-09-08 13:13] #35 closed

[2020-09-08 13:14] rverton commented on #33
Any update on this? Otherwise I will close this due to inactivity.

[2020-09-25 08:34] #33 closed

[2020-09-29 11:19] rverton commented on #38
This occured, when a http url was given which redirects by default to the https url. This way, no source can be analyzed.

I commited a fix now which will detect if the host is the same. Fixed in v0.3.2

[2020-09-29 11:19] #38 closed

[2020-09-29 11:57] rverton commented on #32
Okay, so I saw in the `apps.json` definition there is a `confidence:XX` string added to some patterns. If such a pattern is found, the confidence is added (and may add up to 100 for 100% confidence).

I think I know how to implement this, just need to find some time.

[2020-10-19 01:42] gbiagomba opened #42 "IPv6 error"
Hello,

When i tried running a scan of an IPv6 address i got the following error every time
[code]

[2020-10-28 08:29] moonD4rk opened #43 "support go module"
Can you guys add go mod? Easy for others to use.

It's an awesome project, thx.

[2020-11-29 18:31] rverton commented on #43
Added in 0d52a1ec8bd7f2b04c99834b75abc50a9921d908

[2020-11-29 18:31] #43 closed

[2020-11-29 18:36] rverton commented on #42
I added a fix with eb56e98c8da33b16706662a53ee229ca82a370bc so the error message is more clear.

If you want to scan an IPv6 address, please use the proper format, for example:
`webanalyze -host "http://[2a02:2e0:3fe:1001:302::]"`

[2020-11-29 18:36] #42 closed

[2020-12-02 14:47] pshevtsov opened #44 "Fails to analyze host:port URL"
[code]

[2020-12-02 15:27] rverton commented on #44
As the error described, the scheme is missing:

[code]

[2020-12-02 15:27] #44 closed

[2020-12-02 15:30] pshevtsov commented on #44
But it works OK without both scheme and port:

[code]

[2020-12-02 15:31] rverton commented on #44
It does, but when you omit the scheme you cant pass a port. It's how URL parsing from the standard lib works in Go.

[2020-12-03 21:31] thelikes commented on #36
Why did we close this? Seems like it should indeed be technologies.json, no?

[2020-12-04 21:20] rverton commented on #36
I fixed this in 3ef937d by renaming it.

[2020-12-05 15:54] thelikes commented on #36
Gotcha. Struggling with a `go get -u` , but cloning the repo and manually building, seems all is well. Thank you, appreciate your work and this tool!

[2021-02-04 19:23] dogasantos opened #45 "cannot unmarshal array into Go struct field App.technologies.meta of type string"
Hey there!
Thanks for this port, this is really awesome!

I'm havin an issue with, are you guys seeing this too ?

2021/02/04 19:21:07 initialization failed: json: cannot unmarshal array into Go struct field App.technologies.meta of type string

Ty

[2021-02-04 23:01] maxrev17 commented on #45
Looks like an update to the json there is causing issues, for now try this version of the apps:

https://raw.githubusercontent.com/AliasIO/wappalyzer/965f0fcad60c8dc774e8b949ca01b12565f2de09/src/technologies.json

[2021-02-07 15:18] PFAhard commented on #45
It's Don't help

[2021-02-07 16:01] rverton commented on #45
I guess its because wappalyzer changed their JSOn structure again, as @maxrev17 suggested. I think I can have a look later/tomorrow.

[2021-02-09 13:59] dogasantos commented on #45
Thanks for the update.
I'd recommend keep a validated copy of technologies.json whitin the repository.
In case any change happens in the future, this tool will still work until an update is released.

[2021-02-11 08:04] rverton commented on #45
@dogasantos thats a good idea. I checked the license and it looks like I can just include it because both are MIT.

I will fix the current schema and add the current technologies.json as a base to the repository in the next commit.

[2021-02-11 09:11] rverton commented on #45
I pushed 4b7ed27 which fixes the schema bug. It also includes a current `technologies.json` file as suggested by @dogasantos. Feel free to check, I will tag and release later.

[2021-02-11 12:40] dogasantos commented on #45
Thanks @rverton  !

[2021-02-14 05:41] abdilahrf commented on #45
appreciate the update @rverton 👍 , i've got the same problem

[2021-02-17 17:24] ericraio commented on #32
@rverton any updates on this? Currently faced with some false positives, some of our customers don't have wordpress but the crawler picked it up for an example

[2021-04-11 07:37] smokeyflavor opened #46 "Feature: Add option to specify timeout"

[2021-04-21 09:16] bugbaba opened #47 "De-duplication of results"
Hi Robin,

Firstly thanks for creating this amazing tool :)
I noticed that at times a technology gets matched multiple times as a results its shown multiple times in the output, As we can see in the below screenshot that `PHP` gets pointed out more then once.

[code]

![image](https://user-images.githubusercontent.com/29960776/115528133-6278ea00-a2af-11eb-8466-9a0b2422d02b.png)

--
Regards,
@bugba

[2021-04-22 20:29] 5amu commented on #5
Hello @rverton!

Sorry to comment on a closed issue. But I really like this tool and I'd like to use it for work too.

I'm not very familiar with wappalyzer code, but if the problem is that you need to execute Javascript, this might be an easy enough fix https://github.com/rogchap/v8go, otherwise I'd be very glad if anyone could tell me where the JS execution is needed and I can implement it mysel

[2021-04-22 20:39] rverton commented on #5
Hi @5amu,

sadly its not that easy in this case because it's not just javascript missing here, its the whole (browser) DOM which is missing when not using a browser. Maybe there is a way to emulate this with some libs, but I don't know of any. If we make use of a headless browser, the performance speed we gain by using a not-browser approach is gone.

If you want to go this route I guess its easie

[2021-04-22 23:39] bugbaba commented on #5
Hi @5amu,

wappalyzer code is heavily documented you can easily refer to this https://github.com/AliasIO/wappalyzer/tree/master/src/drivers/npm to get started with a node binary in your system, if you don't want to use docker.
Also along with performance concerns if this browser support is added to `webanalyze` project it would then just become a wappalyzer rewritten in golang which doesn't make *

[2021-04-23 06:37] 5amu commented on #5
Thanks @bugbaba @rverton for the clarification,

I'll keep an eye on the project to see if someone, eventually, will come up with an idea to solve this issue without many performance penalties. For now, I'll keep using wappalyzer in docker.

Best of luck!

[2021-06-17 10:36] doudouba opened #51 "didnt match AngularJS"
dest url :    https://angularjs.org
![image](https://user-images.githubusercontent.com/9914621/122380874-e6431000-cf9a-11eb-9a0b-b637c81d6265.png)

[2021-07-02 01:49] superhac opened #52 "-silent option doesn't filter the -update output status"
When executing the following the "-silent" option is still providing the "-update" header in the output:

`./webanalyze -apps technologies.json -update -silent -output json -host 10.10.10.238`

The Output:

`2021/07/01 20:43:09 app definition file updated from  https://raw.githubusercontent.com/AliasIO/Wappalyzer/master/src/technologies.json
{"hostname":"http://10.10.10.238","matches":[{"app":{"ca

[2021-07-02 06:01] bugbaba commented on #52
Hey @superhac,

I have just created a pull request to fix this, Please give it a try. Before it gets merged :)

--
Regards,
@bugbaba

[2021-07-02 10:37] superhac commented on #52
It works!  Thank you very much @bugbaba!

[2021-07-03 13:22] #52 closed

[2021-08-02 02:59] hanc00l opened #54 "Add custom http request headers"
for examples: User-agent

[2021-09-09 19:23] codypierce opened #55 "Update does not work due to source format change"
./webanalyze -update no longer works due to a format change at https://github.com/AliasIO/wappalyzer/tree/master/src/technologies

`
$ ./webanalyze -update
2021/09/09 19:14:06 app definition file updated from  https://raw.githubusercontent.com/AliasIO/Wappalyzer/master/src/technologies.json
$ cat technologies.json
404: Not Found%
`

[2021-09-09 19:53] rverton commented on #55
Oh wow, what have they done.. The `technologies.json` file was split into `[a-z].js` files now. I suggest we download all and merge them again to a single file. If someone wants to step in with a PR I'm happy to merge. Otherwise I will need a few days until I can allocate some time.

[2021-10-02 02:26] CaledoniaProject commented on #55
Consider using this library instead: https://github.com/projectdiscovery/wappalyzergo/

[2021-10-06 21:17] rverton opened #57 "Compare schema, find out differences and implement them"
The current schema used by wappalyzer differs slightly from the schema implemented in webanalyze. It has to be checked which fields differ first and then we can work on them one by one.

[2021-10-06 21:18] rverton commented on #51
Can you check the pattern in the schema and see which pattern did not match in webanalyze?

[2021-10-07 00:57] CaledoniaProject commented on #55
Hi rverton, looks like you've merged all the JSON files locally and uploaded to this repo. Why not download all the A-Z files and merge it in the handler function instead?

[2021-10-07 01:57] gato-louco opened #58 "build yourself doesn't work anymore"
`github.com/rverton/webanalyze/cmd/webanalyze` is invalid. there is tree master now.

[2021-10-07 12:53] rverton commented on #58
This still works for me to install webanalyze. You can also use:
`go install github.com/rverton/webanalyze/cmd/webanalyze@latest`

Does this work for you?

I will also release a new release soon, but I will wait for a new update regarding the schema to be committed.

[2021-10-14 13:01] teroz opened #59 "-update option downloads technologies.json file from the wrong location"
version 0.3.3 tries to download technologies.jon file from https://raw.githubusercontent.com/AliasIO/Wappalyzer/master/src/technologies.json which is incorrect

[2021-10-14 14:38] #59 closed

[2021-10-18 05:56] CaledoniaProject opened #60 "Not all rules are processed due to inconsistent field type"
According to the documents and issue here

* https://github.com/AliasIO/wappalyzer/blob/master/README.md
* https://github.com/AliasIO/wappalyzer/issues/4879

Fields like `scriptSrc`, `html` and many others are not always in string form, it could be a map or an array of string.

Looks like webanalyze process string type only, can you fix it?

[2021-10-18 08:20] rverton commented on #60
I do have implemented a 'string/[]string' type here which handles most of this cases: https://github.com/rverton/webanalyze/blob/master/wappalyze.go#L16

I think the bigger problem currently is the modified schema. I opened an issue at #57.

[2021-10-18 18:22] rverton commented on #9
This was fixed and closed in 2019.

[2021-10-21 06:39] #60 closed, assigned to nobody

[2021-12-02 14:53] salooali opened #61 "Anyway to store the results in json or csv format?"
Thanks for this tool..!

I'm just having a porbelm in storing the results in a json or csv format.

[2021-12-02 14:54] rverton commented on #61
So what problem are you referring to? You need to describe whats not working for you, otherwise I cant help.

[2021-12-02 15:08] salooali commented on #61
I've a huge list of domains and i want to detect what CMS or technologies they are using for this purpose i want to store the result for each domain in json or csv format but i didn't find any way to store the results

[2021-12-02 15:13] rverton commented on #61
As you can see in the `README.md` (and via the `-h` flag), there is an option `-output`:
[code]

[2021-12-02 15:13] #61 closed

[2021-12-02 15:24] salooali commented on #61
Hey ofcourse  I've tried this but this is not working for me i'm using the
following command:
webanalyze -host https://partakefoods.com/ -output csv
It will only print the result in csv format on the terminal not on the
separate file.I hope you get it.

On Thu, 2 Dec 2021, 8:13 pm Robin Verton, ***@***.***> wrote:

[2021-12-02 15:32] rverton commented on #61
You can redirect the output to a file then via your shell, for example:
`webanalyze -host google.com -output csv > result.csv`

[2021-12-02 17:07] salooali commented on #61
Ofcourse i can do this. But as i told you before I've a huge list of
domains.
There should be a way of storing the output in a file with respective
domain in csv or json format.

On Thu, 2 Dec 2021, 8:32 pm Robin Verton, ***@***.***> wrote:

[2021-12-02 19:23] rverton commented on #61
I don't understand what the problem is with redirecting it into a file. It does not matter how huge your list is, this will work.

[2021-12-03 05:35] salooali commented on #61
It means If I've 10k websites than I've to create 10k individual files. Is
this approach good to you? What if we store all the results in a single
file in json format like
Domain: {technologies}

On Fri, 3 Dec 2021, 12:23 am Robin Verton, ***@***.***> wrote:

[2021-12-03 07:43] rverton commented on #61
You can load a list of domains to check and put all results in a single file:
`webanalyze -hosts fileWithUrls.txt -output csv > fileWithResults.txt`

Please have a look at the help output. I'm locking this issue now.

[2022-01-25 16:36] ix-56h commented on #54
I think you can do this passing a `Headers map[string][]string` to `func NewOnlineJob(... , headers map[string][]string, ...)`.

[2022-05-03 07:08] edwinfred opened #62 "'Unexpected EOF' Error When Compiling"
When installing the tool using `go install github.com/rverton/webanalyze/cmd/webanalyze@latest`, it's throwing the error,
[code]

[2022-05-06 07:15] rverton commented on #62
I think this is a problem on your site. Did you recently update Go? Try clearing the pkg folder so all modules are re-downloaded.

[2022-05-06 07:15] #62 closed

[2022-08-13 07:12] attacker007 opened #63 ""go get" command is depreciated in new GO versions , Write "Go install" in installing notes"
go install -v github.com/rverton/webanalyze/cmd/webanalyze@latest

[2022-08-14 06:05] rverton commented on #63
Fixed

[2022-08-14 06:05] #63 closed

[2022-10-09 16:05] 3xyz opened #64 "error: can not open apps file technologies.json: open technologies.json: no such file or directory"
When I put symbolic link of binatry file to /usr/local/bin/ I cannot run webanalyzer in other directory, because technologies.json file is searched not relative to webanalyzer directory, can u fix that please? :)

[2022-10-10 06:27] rverton commented on #64
In your example, you would have to put the `technologies.json` file in the `/usr/local/bin` folder, which I'm not a fan of.

What do you think of default paths where the file is searched? First look in the current folder, then in the home folder, then in something like `/etc`?

I'm not yet sure where the update mechanism should put the file then. Maybe just in the current working directory?

[2022-10-11 23:40] 3xyz commented on #64
Even if i copy the `technologies.json` to `/usr/local/bin`. The script do not see the `technologies.json`.

[2022-11-25 23:13] timlaw71 commented on #64
I was adding this project into some recon workflow and hit this same error.

[2022-11-26 20:27] #64 closed

[2022-11-26 20:27] rverton commented on #64
Fixed in master now, will add a release soon.